

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$color-fondo: rgba(0, 255, 255, 0.33);


body {
	font-family: $font-family-sans-serif;
	background-color: #fff;

	height: 200vh;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($black, .5);
		transition: .3s all ease;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
	}
	&.offcanvas-menu {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
p {
	color: darken(#ccc, 10%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}

.icon-logo{
    background-image: url(../icon.png);
    background-size: cover;
    background-position: center;
    height: 110px;
    width: 110px;
    float: left;
}

// INDEX MAIN 

.grid-container{
    display: grid;
    margin: 0px;
    background-color: $color-fondo;
    grid-template-columns: 47% 50%;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding-top: 5rem;
    border-radius: 10px;
}
.cardsIndex{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 0;
    gap: 2em;
}



@import url(./components/__tarjeta-novedades.scss);