.div-comics{
    background-color: $color-fondo;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
    flex-flow: row wrap;
    align-content: space-between;
    border-radius: 10px;
    gap: 1rem;
  }

