.color_fondo{
    background-color: $color-fondo;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .div-mercha{
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

  }