.cards{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 0;
    gap: 2em;
}

.card{
    padding-bottom: 2.5em;
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    background-color: rgba(247, 214, 176, 0);
    border: 1px solid black;
    border-radius: 1rem;
    justify-content: center;
    overflow: hidden;

    &__img{
        overflow: hidden;
        height: 400px;
        background-image: url(../images/ej1.png);
        background-position: center;
        background-size: cover;
        border-radius: 1em 1em 0 0;
    }

    &__cta{
        margin-left: 2em;
        background-color: slateblue;
        color: white;
        text-decoration: none;
        padding: 0.4em 1em;
        width: 140px;
        text-align: center;
        margin: 0 auto;
        margin-top: auto;
    }

    &__texts{
        font-size: small;
        padding: 0.4em;
    }
}